<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Oren Rephael Shlomi.<br> It uses data from weatherstack and mapbox.</p>
        <img class="portrait" src="./images/me.png" alt="">
    </div>
    {{>footer}}
</body>
</html>